<%-include('../layouts/header.ejs')%>

    <h2>찾아오시는 길</h2>
    <div>놀러오세요.</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d814826.6993121273!2d126.44877033503533!3d37.08328856467711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ad2da81b9cd29%3A0xc945e75f1ad5f07!2z7ZmN7J2164yA7ZWZ6rWQIOyEuOyihey6oO2NvOyKpA!5e0!3m2!1sko!2skr!4v1736943141250!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<%-include('../layouts/footer.ejs')%>